@import "vars";

@media only screen and (min-width: 993px) {
  .pt-lg-80 {
    padding-top: 80px;
  }

  .mb-lg-150 {
    margin-bottom: 150px;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
  .header {

    nav {
      .contact-items {
        display: none;
      }
    }
  }

  .locations-section {
    .row {
      margin-right: 0;
    }
  }
  .page-reviews .arrows,
  .page-gallery .arrows {
    width: 100%;
    transform: translateX(-40px) translateY(-15px);
    z-index: 3;
  }
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 10px;
  }

  .col-md-12 {
    width: 100%;
    padding: 0;
  }

  .container {
    padding: 0 20px;
  }

  .title-section {
    padding: 0;
  }

  .header {
    .burger {
      display: block;
    }
    nav {
      .contact-items {
        display: flex;
        li {
          &:nth-child(2) {
            display: none;
          }
        }
      }
      .menu-items {
        display: none;
      }
      .lang-items {
        display: none;
      }
    }
  }

  .hero-home {
    .top {
      flex-direction: column;
      padding: 60px 20px;
      .title-hero {
        font-size: 3rem;
        line-height: 4rem;
        margin-bottom: 15px;
      }
    }
  }

  .hero-other {
    .top {
      padding: 60px 20px 20px;
      .title-hero {
        font-size: 3rem;
        line-height: 4rem;
        margin-bottom: 15px;
      }
    }
  }

  .page-info {
    .box {
      .list-items {
        padding: 40px 27px;
      }
    }
  }

  .about-section {
    .container {
      padding-bottom: 30px;
    }
  }

  .locations-section {
    margin-bottom: 60px;
    padding: 0 40px;
    .row {
      flex-direction: column;
    }
    .img {
      width: 100%;
      margin-bottom: 25px;
    }
    .col-row {
      width: 100%;
    }
  }

  .services-section {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
    .item {
      &:nth-child(3) {
        grid-column: 1/3;
      }
    }
  }

  .hero-other {
    .top {
      flex-direction: column;
      .col-md-12 {
        margin-bottom: 20px;
        :last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .page-info {
    margin-bottom: 40px;
    .box {
      flex-direction: column;
      .col-md-12 {
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .page-gallery {
    .arrows {
      transform: translateX(-20px) translateY(-15px);
    }
  }

  .page-reviews {
    .arrows {
      transform: translateX(0) translateY(-15px);
    }
  }

  .footer {
    .container {
      flex-direction: column;
    }
    .left {
      .copyright-desktop {
        display: none;
      }
    }
    .right {
      margin-bottom: 20px;
    }
    .copyright-mobile {
      display: block;}
  }

  .page-gallery {
    margin-bottom: 60px;
  }

  .page-reviews {
    margin-bottom: 75px;
    .container {
      padding: 0;
    }
    .title-section {
      padding: 0 20px;
    }
  }

  .pt-sm-40 {
    padding-top: 40px;
  }
}

@media only screen and (max-width: 600px) {
  main {
    margin-top: 70px;
  }
  .img-lg {
    display: none;
  }
  .img-sm {
    display: block;
  }
  .wp-text {
    h1 {
      font-size: 26px;
      line-height: 34px;
      color: #000100;
      margin: 12px 0;
    }

    h2 {
      font-size: 22px;
      line-height: 30px;
      color: #000100;
      margin: 12px 0;
    }
    h2 {
      font-size: 22px;
      line-height: 30px;
      color: #000100;
      margin: 12px 0;
    }
    h2 {
      font-size: 22px;
      line-height: 30px;
      color: #000100;
      margin: 12px 0;
    }
    h2 {
      font-size: 22px;
      line-height: 30px;
      color: #000100;
      margin: 12px 0;
    }
    h2 {
      font-size: 22px;
      line-height: 30px;
      color: #000100;
      margin: 12px 0;
    }
    p {
      font-size: 14px;
      line-height: 24px;
      color: #5E5E5E;
    }
  }

  .col-md-12 {
    padding: 0;
  }

  .container {
    padding: 0 20px;
  }
  .header {
    .logo {
      height: 70px;
      padding-right: 5px;
      img {
        height: 33px;
      }
    }
    nav {
      height: 60px;
      .contact-items {
        margin-right: 0;
        li {
          margin-right: 0;
        }
      }
    }

  }

  .hero-home {
    .container {
      padding: 40px 20px 20px;
    }
    .top {
      .title-hero {
        font-size: 26px;
        line-height: 30px;
        opacity: .77;
        margin-bottom: 12px;
      }
      .col-6:nth-child(2) {
        padding-top: 0;
      }
    }
    .map {
      height: 160px;
      img {
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .about-section {
    margin-bottom: 40px;
    .container {
      padding: 90px 20px 0;
    }
    .mask-desktop {
      display: none;
    }
    .mask-mobile {
      display: block;
    }
  }

  .locations-section {
    padding: 0 20px;
    margin-bottom: 50px;
  }

  .services-section {
    .item {
      height: calc(50vw - 20px);
      min-height: calc(50vw - 20px);
      &:nth-child(1) {
        grid-row: 1/1;
      }
      &:nth-child(2) {
        grid-row: 2/2;
      }
      &:nth-child(3) {
        grid-column: 2;
        grid-row: 1/3;
        min-height: calc(100vw - 40px);
        height: calc(100vw - 40px);
      }
    }
  }

  .hero-other {
    .top {
      padding: 30px 20px 10px;
      .col-md-12 {
        margin-bottom: 10px;
      }
      .title-hero {
        font-size: 2.5rem;
        line-height: 3rem;
      }
    }
  }

  .page-info {
    .box {
      .list-items {
        padding: 30px 25px;
        .item {
          padding: 7px 0;
        }
      }
    }
  }

  .page-gallery {
    .swiper-button-prev {
      left: 5px;
      &:after {
        font-size: 34px;
      }
    }
    .swiper-button-next {
      right: 5px;
      &:after {
        font-size: 34px;
      }
    }
    .arrows {
      transform: translateX(-40px) translateY(-15px);
    }
    .container {
      padding: 0 40px;
    }
  }
  .page-reviews {

    .swiper-button-prev {
      left: 5px;
      &:after {
        font-size: 34px;
      }
    }
    .swiper-button-next {
      right: 5px;
      &:after {
        font-size: 34px;
      }
    }
    .title-section {
      padding: 0 40px;
    }
    .swiper {
      padding: 0 40px;
    }
  }
  .wp-text {
    .btn-more {
      font-size: 15px;
    }
    .btn-less {
      font-size: 15px;
    }
    h1 {
      font-size: 2.8rem;
      line-height: 3.8rem;
      margin: 10px 0;
    }
    h2 {
      font-size: 2.3rem;
      line-height: 3.5rem;
      margin: 10px 0;
    }
    h3 {
      font-size: 2rem;
      line-height: 3rem;
      margin: 10px 0;
    }
    h4 {
      font-size: 1.9rem;
      line-height: 2.9rem;
      margin: 10px 0;
    }
    h5 {
      font-size: 1.7rem;
      line-height: 2.7rem;
      margin: 10px 0;
    }
    h6 {
      font-size: 1.6rem;
      line-height: 2.6rem;
      margin: 8px 0;
    }
    p {
      font-size: 1.4rem;
      line-height: 2.4rem;
      margin: 7px 0;
    }
  }

  .title-section {
    font-size: 2.4rem;
    line-height: 2.7rem;
  }

  .hero-other .map img, .hero-other .map img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .hero-other .map {
    margin-top: 30px;
  }

  .services-section {
    margin-bottom: 60px;
    .item {
      p {
        font-size: 1.4rem;
        line-height: 1.8rem;
        span {
          font-size: 2.8rem;
          line-height: 3rem;
        }
      }
    }
  }

  .footer {
    padding-top: 30px;
    padding-bottom: 25px;
    .left {

    }
    .right {
      display: flex;
      flex-wrap: wrap;
      .col {
        margin-right: 0;
        &:nth-child(1) {
          width: 50%;
        }
        &:nth-child(2) {
          width: 50%;
          padding-left: 20px;
        }
        &:nth-child(3) {
          width: 100%;
          margin-top: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 321px) {
  .header {
    nav {
      padding-left: 13px;
    }
  }
}